/**
 * @author: Artha Prihardana 
 * @Date: 2018-08-14 07:17:33 
 * @Last Modified by: Artha Prihardana
 * @Last Modified time: 2018-09-11 21:57:04
 */
$imgKey: random(3);

$list: 'https://cdn.grab.com/id/wp-content/uploads/sites/9/2016/05/car-1.jpg',
       'https://cdn.grab.com/id/wp-content/uploads/sites/9/2016/05/bike-1.jpg',
       'https://cdn.grab.com/id/wp-content/uploads/sites/9/2016/05/express-1.jpg';
$nth: nth($list, $imgKey);

.container-login{
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;

    .bg{
        background-color: #fafafa;
        height: 100vh;
        position: relative;
        z-index: 1;

        &:before{
            content: "";
            background-attachment: fixed;
            background-image: url('https://hub.grab.com/images/c8e86444b85abe220b20fca945579016.png'),url('#{$nth}');
            background-position: 10%, top;
            background-repeat: no-repeat,no-repeat;
            background-size: contain, cover;
            // background-image: url('https://images.pexels.com/photos/207171/pexels-photo-207171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            // background-size: cover;
            // background-position: center center;
            // background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // @include opacity(.9);
            z-index: 1;
        }

        .content{
            position: absolute;
            z-index: 3;
            width: 500px;
            bottom: 50px;
            left: 50px;
            color: #fff;

            .title{
                color: #fff;
                font-weight: 300;
                text-transform: none;
            }

            p{
                margin-bottom: 0;
            }
        }
    }

    .side{
        background: #fff;
        height: 100vh;
        position: relative;
        z-index: 2;

        .brand-header{
            margin-bottom: 50px;

            img{
                width: 110px;
            }
        }

        .content{
            padding: 50px 70px;
        }

        .content-bottom{
            position: relative;
            top: 3rem;
            left: 0;
            width: 100%;
            font-size: 12px;
            
            p{
                padding: 0 70px;
            }
        }
    }

    .has-wrapper {
        position: relative;
        .has-input {
            border: none;
            padding: 1.25rem;
            @include border(1px solid, $input-border-color, top bottom left right);
        }
        .has-icon {
            position: absolute;
            right: 25px;
            top: 20px;
            font-size: 1.25rem; //20px;
        }
    }
}

@media(max-width:1024px){
    .container-login{
        .bg{
            .content{
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 0;

                .title{
                    padding: 0 30px;
                }

                p{
                    padding: 0 30px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media(max-width:920px){
    .container-login{
        .side{
            .content{
                padding: 50px 30px;
            }

            .content-bottom{
                bottom: 50px;    
                p{
                    padding: 0 30px;
                }
            }
        }
    }
}

@media(max-width:767px){
    .container-login{
        .bg{
            height: 250px;

            .content{
                padding-top: 15px;
                position: relative;

                .title{
                    padding: 0 15px;
                    font-size: 18px;
                    line-height: 24px;
                }

                p{
                    padding: 0 15px;
                    margin-bottom: 20px;
                }
            }
        }

        .side{
            position: relative;
            height: 75vh;
            
            .content{
                padding: 50px 15px;
            }

            .content-bottom{
                position: relative;
                bottom: 0;
                margin-bottom: 20px;
                
                p{
                    padding: 0 15px;
                }
            }
        }
    }
}